################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cycle-Instructor/FileContentIndex/3decd33d-3d70-484c-b713-cf4b959a06ec.vsidx
